<div class="container">
    <h2 class="mt-5">Feedback Form!</h2>
    <form class="w-50 mt-4" [formGroup]= 'feedbackForm'>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control"  placeholder="Enter Your Name" formControlName="name">
        <div class="text-danger" *ngIf = "submitted && feedbackErrors">
          <small *ngIf = "feedbackErrors.name.errors?.required">Name Required</small>
          <small *ngIf = "feedbackErrors.name.errors?.pattern">Invalid Name</small>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" formControlName="email">
        <div class="text-danger" *ngIf = "submitted && feedbackErrors">
          <small *ngIf = "feedbackErrors.email.errors?.required">Email Required</small>
          <small *ngIf = "feedbackErrors.email.errors?.pattern">Invalid Email</small>
        </div>
      </div>
      <div class="form-group">
        <label>Mobile</label>
        <input type="text" class="form-control"  placeholder="Enter your Mobile Number" formControlName="mobile">
        <div class="text-danger" *ngIf = "submitted && feedbackErrors">
          <small *ngIf = "feedbackErrors.mobile.errors?.required">Mobile Required</small>
          <small *ngIf = "feedbackErrors.mobile.errors?.pattern">Invalid Mobile NUmber</small>
        </div>
      </div>
      <div class="form-group">
            <label>Feedback</label>
            <textarea class="form-control" rows="5" placeholder="Enter Feedback here" formControlName="fbComment"></textarea>
            <div class="text-danger" *ngIf = "submitted && feedbackErrors">
              <small *ngIf = "feedbackErrors.fbComment.errors?.required">Required</small>
            </div>
      </div>    
      <button type="submit" class="btn btn-primary" (click)="feedbackSubmit()">Submit</button>
    </form>
  </div>