.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.carousel-indicators li{
    background-color: brown;
}


.carousel-control-next, .carousel-control-prev{
    color: black;
}